.header__inner {
    padding-top: 63px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 33px;
}

.header__logo {
    display: flex;
    align-items: center;
}

.logo-small {
    display: none;
}

.header__nav {
    display: flex;
    align-items: center;
}

.header__menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.header__menu--item {
    width: 200px;
    text-align: center;
    align-content: center;
}

.header__menu--link {
    color: #000;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
    margin-right: 31px;
    display: inline-block;  
}

.header__menu--button {
    max-width: 126px;
    max-height: 48px;
}

.menu-toggle {
    display: none;
    margin-right: 70px;
}

@media (max-width: 1599px){
    .logo-big {
        display: none;
    }

    .logo-small {
        display: block;
    }
}

@media (max-width: 1263px) {
    
    .header__nav {
        position: relative;
    }
    
    .nav-menu {
        display: none;
        position: absolute;
        top: 100%;
        right: 100px;
        background-color: white;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        max-width: 200px;
        padding: 15px 6%;
    }

    .nav-menu.visible {
        display: block;
    }
    
    .menu-toggle {
        display: block;
        font-size: 24px;
        cursor: pointer;
    }

    .header__menu {
        display: block;
    }    

    .header__menu--link {
        margin-top: 20px;
        position: relative;
    }

    .header__menu--link::after {
        content: '';
        display: block;
        height: 1px;
        background: black;
        margin-top: 10px;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0; 
    }

    .header__menu--link:first-of-type {
        margin-top: 10px;
    }
    
}

@media (max-width: 500px) {
    .menu-toggle {
        margin-right: 30px;
    }
}