textarea {
    resize: none;
    font-size: 20px;
    font-family: 'Inter';
    margin-right: 10px;
}

input:focus, textarea:focus {
    outline: none;
}

.form {
    margin-bottom: 20px;
}

.form__input {
    width: 100%;
    border-radius: 20px;
    border: 2px solid rgba(0, 0, 0, 0.06);
    background: #FFF;
    padding: 10px 15px;
    position: relative;
    z-index: 1;
    padding-left: 120px; /* Значение по умолчанию */
    font-size: 20px;
}

.form__input-container,
.form__risks-container {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}

.form__risks-container {
    margin-top: 10px;
}

.form__input-container .form__label,
.form__risks-container .form__label {
    position: absolute;
    top: 10px;
    left: 15px;
    pointer-events: none;
    color: black;
    transition: all 0.3s ease;
    z-index: 2;
    font-size: 20px;
}

.form__input:focus + .form__label,
.form__input:not(:placeholder-shown) + .form__label {
    top: -10px;
    left: 15px;
    font-size: 12px;
    color: #333;
    z-index: 1;
}

.form__input-container::after {
    content: '';
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 32px;
    height: 32px;
    background: url('/image/icons/pencil.png');
    z-index: 2;
    cursor: pointer;
}

.form__input-container:nth-child(2)::after {
    top: 5px;
    transform: translateY(0);
}

.form__input--descr {
    min-height: 200px;
    padding: 10px 15px;
    padding-left: 120px;
}

.form__input--descr + .form__label {
    top: 10px;
}

.form__select-container,
.form__radio-container {
    border-radius: 20px;
    border: 2px solid rgba(0, 0, 0, 0.06);
    background: #FFF;
    display: inline-flex;
    padding: 0 23px 0 31px;
    align-items: center;
    min-height: 46px;
    color: black;
    font-size: 20px;
    position: relative;
}

.modal__content .form__select-icon {
    z-index: 1000;
    top: 46%;
    right: 5%;
}

.form__select-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: auto;
    background: none;
    border: none;
    cursor: default;
    transition: transform 0.4s ease;
}

.form__select {
    padding: 0 40px 0 31px;
    appearance: none;
    border-radius: 10px;
    outline: none;
    z-index: 5;
}

.rotate-icon {
    transform: translate(20%, -50%) rotate(180deg);
}

.form__select-container {
    padding-right: 20px;
}

.form__select-modal {
    background-color: black;
    border-radius: 10px;
    z-index: 100;
}

.form__radio-container .form__label {
    padding-right: 10px;
}

.form__radio-wrapper {
    display: flex;
    align-items: center;
}

.form__toggle-button {
    position: relative;
    width: 50px;
    height: 26px;
    margin-left: 10px;
    border-radius: 20px;
    border: 2px solid rgba(0, 0, 0, 0.06);
    background: #FFF;
    cursor: pointer;
}

.form__radio-input {
    opacity: 0;
    width: 0;
    height: 0;
}

.form__slider {
    position: absolute;
    height: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 20px;
    transition: background-color 0.3s;
}

.form__slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    top: 1px;
    left: 3px;
    background-color: black;
    border-radius: 50%;
    transition: transform 0.3s;
}

.form__radio-input:checked + .form__slider {
    background-color: #4caf50;
}

.form__radio-input:checked + .form__slider:before {
    transform: translateX(24px);
    background-color: #073826;
}

.create-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 50px;
}

.create-table th label {
    cursor: default;
    display: flex;
    justify-content: center;
}

.create-table td {
    padding: 10px;
    vertical-align: top;
}

.create-table th,
.create-table td {
    border: 4px solid rgba(0, 0, 0, 0.06);
    padding: 15px;
    text-align: left;
}

.create-table th {
    background: #F7F7F7;
    font-weight: bold;
}

.table-wrapper {
    border-radius: 20px;
    border: 4px solid rgba(0, 0, 0, 0.06);
    background: #FFF;
    padding: 15px;
    min-height: 150px;
    margin-bottom: 20px;
}

.buttons-under-table__container {
    display: inline-block;
}

.form__table-input {
    width: 100%;
    height: 100%;
    border: none;
    resize: none;
    overflow: hidden;
    box-shadow: none;
    font-family: 'Inter';
    font-size: 16px;
    min-height: 40px;
}

.form__table-input:focus {
    box-shadow: none;
    height: auto;
    min-height: 40px;
    padding: 10px;
}

.form__add-row, .form__remove-row {
    background-color: #4CAF50;
    margin-top: 20px;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 20px;
    margin-right: 50px;
}

.form__remove-row {
    background-color: #f44336;
}

.form__remove-row:hover {
    background-color: red;
}

.form__add-row:hover {
    background-color: #45a049;
}

.form__metadata-button, .form__metadata-span {
    border-radius: 20px;
    border: 2px solid rgba(0, 0, 0, 0.06);
    background: #FFF;
    display: inline-flex;
    justify-content: center;
    font-size: 20px;
    margin: 15px 0;
    align-items: center;
    padding: 10px 12px;
}

.form__metadata-span {
    border: none;
    background: none;
    margin-top: 0;
}

.select__metadata-container {
    display: inline-flex;
    /* background-color: black; */
    margin-left: 15px;
    border-radius: 5px;
    padding: 5px 0 0 15px;
    position: relative;
}

.form__metadata-button {
    margin: 0 40px;
    padding: 8px 20px;
    border-radius: 0px;
}

.reward-container {
    display: inline-flex;
    font-size: 20px;
    font-weight: 550;
    margin-top: 35px;
    margin-left: 15px;
}

.reward__title, .details__title {
    margin-right: 38px;
}

.reward__radio-button {
    margin-left: 13px;
}

.reward__label {
    margin-left: 33px;
}

.reward__label:first-child {
    margin-left: 0;
}

.reward__radio-button::after {
    content: "|";
    margin-left: 40px;
    color: #000;
}

.reward__radio-button:last-of-type::after {
    content: "";
}

.reward-container input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    max-width: 29px;
    max-height: 29px;
    border-radius: 50%;
    background-color: #D9D9D9;
    display: inline-block;
    position: relative;
    border: 2px solid #ccc;
    cursor: pointer;
}

.reward-container input[type="radio"]:checked {
    background-color: #D9D9D9;
    border-color: #000;
}

.reward-container input[type="radio"]:checked::before {
    content: '✔';
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button-submit-container {
    display: flex;
    justify-content: end;
    gap: 33px;
    margin-top: 100px;
}

.button--submit, .button--submit-draft {
    border-radius: 8px;
    border: none;
    color: white;
    max-height: 63px;
    font-size: 16px;
    min-width: 162px;
}

.button--submit {
    background: #F6893A;
    padding: 21px 32px 20px 33px;
}

.button--cancel {
    padding: 21.5px 51px 20.5px 51px;
}

.button--submit-draft {
    background: #A7BB97;
    padding: 10px 22px;
}

/* Стили для модального окна */
.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    z-index: 101; /* Выше, чем затемнение */
    width: 300px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.modal__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal__content label {
    margin-bottom: 30px;
    font-size: 20px;
}

.modal__content .form__select {
    margin-bottom: 15px;
    width: 100%;
    font-size: 18px;
    padding-left: 40px;
    border-radius: 20px;
    border: 2px solid rgba(0, 0, 0, 0.06);
    background: #FFF;
    display: inline-flex;
    padding: 0 40px 0 31px;
    min-height: 30px;
}

/* Стили для затемняющего фона */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100; /* Под модальным окном */
}

.button-add-metadata {
    margin-top: 35px;
}

.table-input, .table-select {
    margin-bottom: 20px;
}


@media (max-width: 1339px) {
    .form__risks-table {
        width: 100%;
    }

    .form__risks-table th,
    .form__risks-table td {
        padding: 10px;
    }

    .form__risks-table th {
        font-size: 14px;
        white-space: nowrap;
    }

    .form__risks-table td {
        font-size: 14px;
    }

    .form__table-input {
        font-size: 14px;
        padding: 8px;
        min-height: 30px;
    }

    .form__risks-container {
        padding: 10px;
    }

    .form__risks-container button {
        font-size: 18px;
        padding: 6px 10px;
    }

    .form__add-row {
        margin-top: 15px;
        font-size: 18px;
    }

    .form__td-remove-button {
        font-size: 18px;
    }
}
