@{
    ViewData["Title"] = "Страховой продукт-продажа";
}
@section Styles {
    <link rel="stylesheet" href="~/css/views/contract/contracts.css" asp-append-version="true" />
}

<div class="main__inner">
        <div class="main__commencement">
            <h2 class="main__title">Страховые договора</h2>
        </div>
        <div class="main__commencement--under-line"></div>
    </div>

    <div class="contracts-cards__inner">
        <div class="contracts-card">
            <h2 class="contract-card__title" data-id="">Договор №</h2>
            <h2 class="contract-card__product-title">Название</h2>
            <p class="contract-card__product-descr">Описание</p>
            <div class="contract-card__status status--active">Активный</div>
        </div>

        <div class="contracts-card">
            <h2 class="contract-card__title" data-id="">Договор №</h2>
            <h2 class="contract-card__product-title">Название</h2>
            <p class="contract-card__product-descr">Описание</p>
            <div class="contract-card__status status--deactive">Черновик</div>
        </div>

        <div class="contracts-card">
            <h2 class="contract-card__title" data-id="">Договор №</h2>
            <h2 class="contract-card__product-title">Название</h2>
            <p class="contract-card__product-descr">Описание</p>
            <div class="contract-card__status status--deactive">Черновик</div>
        </div>

        <div class="contracts-card">
            <h2 class="contract-card__title" data-id="">Договор №</h2>
            <h2 class="contract-card__product-title">Название</h2>
            <p class="contract-card__product-descr">Описание</p>
            <div class="contract-card__status status--deactive">Черновик</div>
        </div>

        <div class="contracts-card">
            <h2 class="contract-card__title" data-id="">Договор №</h2>
            <h2 class="contract-card__product-title">Название</h2>
            <p class="contract-card__product-descr">Описание</p>
            <div class="contract-card__status status--deactive">Черновик</div>
        </div>

        <div class="contracts-card">
            <h2 class="contract-card__title" data-id="">Договор №</h2>
            <h2 class="contract-card__product-title">Название</h2>
            <p class="contract-card__product-descr">Описание</p>
            <div class="contract-card__status status--deactive">Черновик</div>
        </div>
    </div>
